*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#pageWrapper{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#calendar{
    margin: auto;
}
#month{
    border: 1px solid black;
    padding: 6px;
    margin-left: 4px;
    margin-right: 4px;
    width: 100px;
    min-width: 100px;
}
#monthCalculator{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
}
#plusMonth, #minusMonth{
    padding: 6px;
    margin: 0;
    border: 1px solid black;
    border-radius: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.151);
    transition: all .2s;
}
#plusMonth:active, #minusMonth:active{
    box-shadow: none;
}

#year{
    display: inline-block;
    border: 1px solid black;
    padding: 6px 60px;
    margin-top: 4px;
}
.day-cell{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    transition: all .5s;
}
.day-cell:hover{
    background-color: pink;
}
.days{
    text-align: center;
}
#inputDate{
    display: inline-block;
}
#displayDate{
    padding: 20px;
}
